<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Excel-DNA.Interop" version="14.0.1" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.9.2" targetFramework="net45" />
  <package id="Spire.DataExport" version="3.4" targetFramework="net45" />
  <package id="Spire.Doc" version="5.1.23" targetFramework="net45" />
  <package id="Spire.XLS" version="7.5" targetFramework="net45" />
</packages>